<div>
    <h2 data-translate="gatewayApp.customer.home.title">Customers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="customer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="gatewayApp.customer.home.createLabel">
                        Create new Customer
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gatewayApp.customer.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.searchCustomerByCpf(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="gatewayApp.customer.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cpf"><span data-translate="gatewayApp.customer.cpf">Cpf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="age"><span data-translate="gatewayApp.customer.age">Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span data-translate="gatewayApp.customer.gender">Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maritalStatus"><span data-translate="gatewayApp.customer.maritalStatus">Marital Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="gatewayApp.customer.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dependents"><span data-translate="gatewayApp.customer.dependents">Dependents</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="income"><span data-translate="gatewayApp.customer.income">Income</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in vm.customers track by customer.id">
                    <td><a ui-sref="customer-detail({id:customer.id})">{{customer.id}}</a></td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.cpf}}</td>
                    <td>{{customer.age}}</td>
                    <td data-translate="{{'gatewayApp.GenderEnum.' + customer.gender}}">{{customer.gender}}</td>
                    <td data-translate="{{'gatewayApp.MaritalStatus.' + customer.maritalStatus}}">{{customer.maritalStatus}}</td>
                    <td data-translate="{{'gatewayApp.StateEnum.' + customer.state}}">{{customer.state}}</td>
                    <td>{{customer.dependents}}</td>
                    <td>{{customer.income}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="customer-detail({id:customer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
