
<div>
    <h2><span data-translate="gatewayApp.customer.detail.title">Customer</span> {{vm.customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="gatewayApp.customer.name">Name</span></dt>
        <dd>
            <span>{{vm.customer.name}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.customer.cpf">Cpf</span></dt>
        <dd>
            <span>{{vm.customer.cpf}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.customer.age">Age</span></dt>
        <dd>
            <span>{{vm.customer.age}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.customer.gender">Gender</span></dt>
        <dd>
            <span data-translate="{{'gatewayApp.GenderEnum.' + vm.customer.gender}}">{{vm.customer.gender}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.customer.maritalStatus">Marital Status</span></dt>
        <dd>
            <span data-translate="{{'gatewayApp.MaritalStatus.' + vm.customer.maritalStatus}}">{{vm.customer.maritalStatus}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.customer.state">State</span></dt>
        <dd>
            <span data-translate="{{'gatewayApp.StateEnum.' + vm.customer.state}}">{{vm.customer.state}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.customer.dependents">Dependents</span></dt>
        <dd>
            <span>{{vm.customer.dependents}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.customer.income">Income</span></dt>
        <dd>
            <span>{{vm.customer.income}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.customer.evaluation">evaluation</span></dt>
        <dd>
            <span>{{vm.customer.evaluation}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.customer.situation">situation</span></dt>
        <dd>
            <b>
            <span ng-if="vm.customer.situation" style="background-color:#9affeb" data-translate="gatewayApp.proposalsApp.situation.approvate">
                approvate</span>

            <span ng-if="!vm.customer.situation" style="background-color:#ff5835" data-translate="gatewayApp.proposalsApp.situation.disapprovate">
                disapprovate</span>

            </b>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>


</div>
