
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerLabel" data-translate="gatewayApp.customer.home.createOrEditLabel">Create or edit a Customer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.customer.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.customer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.customer.name"
                    required ng-minlength="5" ng-maxlength="200"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.customer.cpf" for="field_cpf">Cpf</label>
            <input type="text" class="form-control" name="cpf" id="field_cpf"
                    ng-model="vm.customer.cpf"
                    required/>
            <div ng-show="editForm.cpf.$invalid">
                <p class="help-block"
                    ng-show="editForm.cpf.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.customer.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.customer.age"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.customer.gender" for="field_gender">Gender</label>
            <select class="form-control" name="gender" ng-model="vm.customer.gender" id="field_gender" required>
                <option value="Feminino" data-translate="gatewayApp.GenderEnum.Feminino">Feminino</option>
                <option value="Masculino" data-translate="gatewayApp.GenderEnum.Masculino">Masculino</option>
            </select>
            <div ng-show="editForm.gender.$invalid">
                <p class="help-block"
                    ng-show="editForm.gender.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.customer.maritalStatus" for="field_maritalStatus">Marital Status</label>
            <select class="form-control" name="maritalStatus" ng-model="vm.customer.maritalStatus" id="field_maritalStatus" required>
                <option value="Solteiro" data-translate="gatewayApp.MaritalStatus.Solteiro">Solteiro</option>
                <option value="Casado" data-translate="gatewayApp.MaritalStatus.Casado">Casado</option>
                <option value="Viuvo" data-translate="gatewayApp.MaritalStatus.Viuvo">Viuvo</option>
                <option value="Divorciado" data-translate="gatewayApp.MaritalStatus.Divorciado">Divorciado</option>
            </select>
            <div ng-show="editForm.maritalStatus.$invalid">
                <p class="help-block"
                    ng-show="editForm.maritalStatus.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.customer.state" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="vm.customer.state" id="field_state" required>
                <option value="AM" data-translate="gatewayApp.StateEnum.AM">AM</option>
                <option value="SC" data-translate="gatewayApp.StateEnum.SC">SC</option>
                <option value="SP" data-translate="gatewayApp.StateEnum.SP">SP</option>
                <option value="RS" data-translate="gatewayApp.StateEnum.RS">RS</option>
                <option value="PR" data-translate="gatewayApp.StateEnum.PR">PR</option>
                <option value="RJ" data-translate="gatewayApp.StateEnum.RJ">RJ</option>
                <option value="ES" data-translate="gatewayApp.StateEnum.ES">ES</option>
                <option value="BA" data-translate="gatewayApp.StateEnum.BA">BA</option>
                <option value="SE" data-translate="gatewayApp.StateEnum.SE">SE</option>
                <option value="MA" data-translate="gatewayApp.StateEnum.MA">MA</option>
                <option value="PI" data-translate="gatewayApp.StateEnum.PI">PI</option>
                <option value="DF" data-translate="gatewayApp.StateEnum.DF">DF</option>
                <option value="GO" data-translate="gatewayApp.StateEnum.GO">GO</option>
                <option value="AL" data-translate="gatewayApp.StateEnum.AL">AL</option>
                <option value="MT" data-translate="gatewayApp.StateEnum.MT">MT</option>
                <option value="MG" data-translate="gatewayApp.StateEnum.MG">MG</option>
            </select>
            <div ng-show="editForm.state.$invalid">
                <p class="help-block"
                    ng-show="editForm.state.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.customer.dependents" for="field_dependents">Dependents</label>
            <input type="number" class="form-control" name="dependents" id="field_dependents"
                    ng-model="vm.customer.dependents"
                    required min="0"/>
            <div ng-show="editForm.dependents.$invalid">
                <p class="help-block"
                    ng-show="editForm.dependents.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dependents.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.dependents.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.customer.income" for="field_income">Income</label>
            <input type="number" class="form-control" name="income" id="field_income"
                    ng-model="vm.customer.income"
                    required/>
            <div ng-show="editForm.income.$invalid">
                <p class="help-block"
                    ng-show="editForm.income.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.income.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
